{% extends 'crm/base.html' %}

{% block content %}
  <style>
    form > ul > li {
      font-size: 1.3rem;
    }

    form > P > label {
      font-size: 1.4rem;
    }

    form {
      margin-left: 26rem;
    }
  </style>
  <h2 style="margin-left: 44rem;padding-top: 1rem; padding-bottom: 1rem;">Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <h style="color: grey; font-size: 1.3rem;">{{ field.help_text }}</h>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary btnWarning">Sign up</button>
  </form>
{% endblock %}